@import "../../sass/base";

.logoIcon {
	width: 100px !important;
	height: 90px !important;
	position: relative;
}

.cartQntd {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	border: 1px solid white;
	border-radius: 50%;
	background: white;
	position: absolute;
	top: 8%;
	right: 2%;

	span {
		font-weight: 700;
	}
}
