@import '../../sass/base';

header {
  width: 100%;
  background-color: #3E6D9C;
}

header .links-container {
  padding: 20px;
  @include flexboxContainer($justify: space-between);

  .store-icon {
    @include flexboxContainer;
    gap: 0 30px;
  }

  .store-icon h1 {
    font-family: 'Princess Sofia', cursive;
    font-weight: 400;
    color: goldenrod;
    text-shadow: 1px 2px #000;
  }

  img {
    width: 50px;
    height: 50px;
  }

  ul {
    list-style: none;
    @include flexboxContainer;
    gap: 0 20px;
  }
}